<p id="notice"><%= notice %></p>

<% if current_user.admin? %>
  <h1>Hello Admin!</h1>
<% else %>
  <h1>Hello User!</h1>
<% end %>

<h2>Listing Playlists</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @playlists.each do |playlist| %>
      <tr>
        <td><%= playlist.name %></td>
        <td><%= playlist.description %></td>
        <td><%= link_to 'Show', playlist %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_playlist_path(playlist) %></td>
          <td><%= link_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Playlist', new_playlist_path %>
